// Mixin para sombras
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
  }
  
  // Mixin para bordes redondeados
  @mixin border-radius($radius) {
    border-radius: $radius;
  }
  
  // Mixin para centrar elementos flex
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // Mixin para responsividad
  @mixin respond-to($breakpoint) {
    @if $breakpoint == sm {
      @media (max-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == md {
      @media (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == lg {
      @media (max-width: $breakpoint-lg) { @content; }
    }
  }
  