$fonts-alata:"Alata", sans-serif;

h1 {
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    font-size: clamp(24px, calc(4vw + 1rem), 48px); 
    font-weight: lighter;
}

h2 {
    font-weight: 400; 
    font-size: clamp(24px, calc(4vw + 1rem), 40px); 
    color: black;
    margin-top: 30px;  
    margin-bottom: 15px; 
    line-height: 1.3;
    letter-spacing: 0.5px;
}

// Colores
$primary-color: #6d283d;
$secondary-color: #914662;
$background-color: #f5f5f5;
$text-color: #000;
$white-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Espaciados
$padding-default: 20px;
$border-radius: 10px;

// Sombras
$box-shadow: 0 4px 15px $shadow-color;
$card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

// Fuentes
$font-size-base: 1em;
$font-size-large: 1.5em;
$font-size-small: 0.9em;
$font-weight-bold: 600;
$line-height-base: 1.5;
